[user]
	name = Sean Vig
	email = sean.v.775@gmail.com

[github]
	user = flacjacket

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto

[alias]
	ci = commit
	di = diff --color-words
	st = status
	co = checkout
	br = branch
	logl = log --pretty=oneline --abbrev-commit
	logs = log --stat

[core]
	pager = less -FX
